In [2]:
import pandas as pd

# –ó–∞–º–µ–Ω–∏—Ç–µ –Ω–∞ —Å–≤–æ–π —Ñ–∞–π–ª
df = pd.read_csv('2_1.csv')  # üëà —Å—é–¥–∞ –ø–æ–¥—Å—Ç–∞–≤—å –∏–º—è —Å–≤–æ–µ–≥–æ .csv —Ñ–∞–π–ª–∞
df.head()

,Rank,Peak,All Time Peak,Actual¬†gross,Adjusted¬†gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour ‚Ä†,2023‚Äì2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyonc√©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‚Ä°[4][a],2008‚Äì2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018‚Äì2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [3]:
# –û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è
print("üîç –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö:")
print(df.info())

# –û—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏
print("\nüìä –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:")
print(df.describe(include='all'))

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏
print("\nüßπ –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:")
print(df.isnull().sum())

üîç –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual¬†gross                      20 non-null     object
 4   Adjusted¬†gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB
None

üìä –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:
             Rank Peak All Time Peak  Actual¬†gross  \
count   20.000000    9             6            20
unique        NaN    7             6            20
top           NaN    1             2  $780,000,000
freq          NaN    2             1             1
mean    10.450000  NaN           NaN           NaN
std      5.942488  NaN           NaN           NaN
min      1.000000  NaN           NaN           NaN
25%      5.750000  NaN           NaN           NaN
50%     10.500000  NaN           NaN           NaN
75%     15.250000  NaN           NaN           NaN
max     20.000000  NaN           NaN           NaN

       Adjusted¬†gross (in 2022 dollars)        Artist       Tour title  \
count                                20            20               20
unique                               20             9               20
top                        $780,000,000  Taylor Swift  The Eras Tour ‚Ä†
freq                                  1             4                1
mean                                NaN           NaN              NaN
std                                 NaN           NaN              NaN
min                                 NaN           NaN              NaN
25%                                 NaN           NaN              NaN
50%                                 NaN           NaN              NaN
75%                                 NaN           NaN              NaN
max                                 NaN           NaN              NaN

          Year(s)       Shows Average gross Ref.
count          20   20.000000            20   20
unique         16         NaN            20   20
top     2013‚Äì2014         NaN   $13,928,571  [1]
freq            3         NaN             1    1
mean          NaN  110.000000           NaN  NaN
std           NaN   66.507617           NaN  NaN
min           NaN   41.000000           NaN  NaN
25%           NaN   59.000000           NaN  NaN
50%           NaN   87.000000           NaN  NaN
75%           NaN  134.500000           NaN  NaN
max           NaN  325.000000           NaN  NaN

üßπ –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:
Rank                                 0
Peak                                11
All Time Peak                       14
Actual¬†gross                         0
Adjusted¬†gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [6]:
df.columns = df.columns.str.strip()

# –û—á–∏—Å—Ç–∫–∞ –¥–µ–Ω–µ–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –æ—Ç $ –∏ –∑–∞–ø—è—Ç—ã—Ö, –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ float
money_cols = ['Actual gross', 'Adjusted gross (in 2022 dollars)', 'Average gross']

for col in money_cols:
    df[col] = df[col].str.replace(r'[\$,]', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

# –ü—Ä–æ–≤–µ—Ä–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
print(df[money_cols].isnull().sum())

# –ú–æ–∂–Ω–æ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ —Å—Ä–µ–¥–Ω–∏–º –∏–ª–∏ –º–µ–¥–∏–∞–Ω–æ–π, –µ—Å–ª–∏ –Ω—É–∂–Ω–æ
# –ù–∞–ø—Ä–∏–º–µ—Ä:
# df['Actual gross'].fillna(df['Actual gross'].median(), inplace=True)

# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∏—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç
print(df.info())
print(df.head())

KeyError: 'Actual gross'

In [ ]:
df.columns = df.columns.str.strip()  # –ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_clean = df.dropna()

In [ ]:
df_clean['Salary'] = df_clean['Salary'].replace(r'[^0-9\-\‚Äì]', '', regex=True)

In [ ]:
def salary_range_quality(df, salary_col='Salary'):
    pattern = re.compile(r'^\d+\s*[-‚Äì]\s*\d+$')
    valid = df[salary_col].astype(str).apply(lambda x: bool(pattern.match(x)))
    return valid.mean()

print("–ú–µ—Ç—Ä–∏–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–∏–∞–ø–∞–∑–æ–Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç:", salary_range_quality(df_clean))

In [ ]:
–ó–∞–¥–∞–Ω–∏–µ 2

In [ ]:
# –ó–∞–º–µ–Ω–∏—Ç–µ –ø—É—Ç—å –Ω–∞ —Å–≤–æ–π .csv —Ñ–∞–π–ª
df = pd.read_csv('<–ù–∞–∑–≤–∞–Ω–∏–µ —Ñ–∞–π–ª–∞>')
df.columns = df.columns.str.strip()  # –ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_clean = df.dropna()
df_clean = df_clean.drop_duplicates()

In [ ]:
def parse_salary_range(s):
    try:
        parts = re.findall(r'\d+', str(s))
        if len(parts) >= 2:
            low, high = map(int, parts[:2])
            return low, high, (low + high) / 2
        elif len(parts) == 1:
            return int(parts[0]), int(parts[0]), int(parts[0])
    except:
        return np.nan, np.nan, np.nan
    return np.nan, np.nan, np.nan

salary_data = df_clean['Salary'].apply(parse_salary_range)
df_clean[['Salary_Min', 'Salary_Max', 'Salary_Mid']] = pd.DataFrame(salary_data.tolist(), index=df_clean.index)

In [ ]:
def summary_stats(series, name=''):
    print(f"–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –¥–ª—è {name}:")
    print("–°—Ä–µ–¥–Ω–µ–µ:", series.mean())
    print("–ú–µ–¥–∏–∞–Ω–∞:", series.median())
    print("–î–∏—Å–ø–µ—Ä—Å–∏—è:", series.var())

    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    filtered = series[(series >= q1 - 1.5 * iqr) & (series <= q3 + 1.5 * iqr)]

    print("–°—Ä–µ–¥–Ω–µ–µ –±–µ–∑ –≤—ã–±—Ä–æ—Å–æ–≤:", filtered.mean())
    print("–ú–µ–¥–∏–∞–Ω–∞ –±–µ–∑ –≤—ã–±—Ä–æ—Å–æ–≤:", filtered.median())
    print("–î–∏—Å–ø–µ—Ä—Å–∏—è –±–µ–∑ –≤—ã–±—Ä–æ—Å–æ–≤:", filtered.var())
    print()

summary_stats(df_clean['Salary_Min'], '–ú–∏–Ω–∏–º—É–º –∑–∞—Ä–ø–ª–∞—Ç—ã')
summary_stats(df_clean['Salary_Max'], '–ú–∞–∫—Å–∏–º—É–º –∑–∞—Ä–ø–ª–∞—Ç—ã')
summary_stats(df_clean['Salary_Mid'], '–°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞')

In [ ]:
df_clean['Salary_Final'] = df_clean['Salary_Mid']